@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


.header-home {
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.logo{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8em;
}
.logo:hover{
    color: #494848;
}
.navigation a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 19px;
    padding-left: 30px;
}
.navigation .btnLogin{
    width: 113px;
    height: 43px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.0em;
    color: #fff;
    font-weight: 500;
    margin-left: 8px;
    transition: .5s;
}

.navigation .btnLogin:hover {
    background: #fff;
    color: #101112;

}

.navigation a:hover{
    color: #494848;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/2.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main h2{
    color: #ece5e5;
    margin-bottom: 15px;
}

.main-bts {
    color: #fff;
    background-color: #101112;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 0.7s ease;
    position: relative;
    left: 75px;
}

.main-bts:hover {
    color: #101112;
    background-color: #fff;
    transform: scale(1.1);

}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    left: 91px;
}
.social-icons a:hover{
    color: #494848;
}

.about img{
    -webkit-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
}

.card{
    border: none;
    outline: none;
    -webkit-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 20px -7px rgba(0,0,0,0.75);
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.card:hover .circle{
    background-color: black;
    color: white;
    transition: 0.7s;
}





@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }    
    .navigation a{
        font-size: 0.9em;
        padding-left: 5px;
    }
    section{
        padding: 80px 20px;
    }
    .logo{
        font-size: 1em;
        font-weight: 50;
    }
    .main h2{
        padding-left: 26px;
    }
}




/* These are the commands for the login page */


.navigation-login a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 300;
    font-size: 19px;
    padding-left: 30px;
}

.navigation-login a:hover{
    color: #000000;
}


.navigation-login .btnLogin{
    width: 113px;
    height: 43px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.0em;
    color: #fff;
    font-weight: 500;
    margin-left: 8px;
    transition: .5s;
}

.navigation-login .btnLogin:hover {
    background: #fff;
    color: #101112;

}

.logo-login{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8em;
}
.logo-login:hover{
    color: #000000;
}

.header-login {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.login-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background: transparent;
    backdrop-filter: blur(6px);
}

/*
.wrapper {
    position: relative;
    width: 440px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
*/

.wrapper .form-box-login {
    width: 100%;
    padding: 40px;
}


.form-box-login h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #101112;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 5px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btnLogin {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}
